[Unit]
Description=Battery protection - ui
After=network.target

[Service]
Type=simple
User=test
WorkingDirectory=/home/test/battery_protection_ui
ExecStart=/home/test/battery_protection_ui/start.sh
Restart=always

[Install]
WantedBy=multi-user.target