<section id="table" style="display: flex;">
<div id="line1" style="width:50%; padding-right:10px;padding-left:5px;">
  <div style="display: flex; align-items: center; justify-content: center;">
    <h3 class="text-center" style="color: #B5DE60; margin-right: 10px;">LANE 1 :</h3>
    <h4>{{currentLap1}}</h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Team Number</th>
        <th>Country</th>
        <th>Team Name</th>
        <th>Lap</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lane1 of rowsLane1; let i = index">
        <td>{{ lane1.position }}</td>
        <td>{{ lane1.teamNumber }}</td>
        <td>{{ lane1.country }}</td>
        <td>{{ lane1.teamName }}</td>
        <td>{{ lane1.lap }}</td>
        <td><button type="button" class="btn btn-sm fw-bold" (click)="removeRow('1', i)" style="background-color: #B5DE60; color: #FFFFFF">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
<div id="line2" style="width: 50%; padding-left: 10px;padding-right:5px;">
  <div style="display: flex; align-items: center; justify-content: center;">
    <h3 class="text-center" style="color: #B5DE60; margin-right: 10px;">LANE 2 :</h3>
    <h4>{{currentLap2}}</h4>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Position</th>
        <th>Team Number</th>
        <th>Country</th>
        <th>Team Name</th>
        <th>Lap</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let lane2 of rowsLane2; let i = index">
        <td>{{ lane2.position }}</td>
        <td>{{ lane2.teamNumber }}</td>
        <td>{{ lane2.country }}</td>
        <td>{{ lane2.teamName }}</td>
        <td>{{ lane2.lap }}</td>
        <td><button type="button" class="btn btn-sm fw-bold" (click)="removeRow('2', i)" style="background-color: #B5DE60; color: #FFFFFF">Remove</button></td>
      </tr>
    </tbody>
  </table>
</div>
</section>
