<div class="container-sm text-center">
    <div class="status-container">
        <span class="txt">Connection status:  </span><span id="connection_status" class="status">-,-</span>
        <span class="txt">Port: </span><span id="port" class="status">-,-</span>
        <span id="dot" class="fas fa-wifi status"></span>
    </div>
    <hr>
    <div class="container-sm mt-2 text-center">
      <table class="table text-center">
        <thead class="thead" style="color: #ff5c20ff;">
          <tr>
              <th>SENSOR ID [-]</th>
              <th>H2 [%]</th>
              <th>TEMPERATURE [°C]</th>
              <th>HUMIDITY [%]</th>
          </tr>
        </thead>
        <tbody id="table_body">
        </tbody>
      </table>
    </div> 
  </div>