<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vilmio battery protection</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
        <link rel="icon" href="main/static/favicon.png" type="image/x-icon">
        <link href="main/static/style.css" rel="stylesheet"/>
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <script type="application/javascript" src="main/static/loadLibrary.js"></script>
    </head>
    <body onload="loadLibrary()">
        <div class="header">
            <img src="main/static/favicon.png" alt="Logo">
            <h1 style="color: #fff;">Vilmio battery protection</h1>
        </div>
        <span class="font-weight-bold" id="sideText" style="font-size: 30px; cursor: pointer; color: #fff;" onclick="openNav()"></span>
        <div class="loader text-center">
            <div class="loader-inner">
                <div class="lds-roller mb-3">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                    <div></div>
                </div>
                <h4 id="Lw">Loading</h4>
            </div>
        </div>
        <div class="container-sm text-center">
            <div class="d-flex align-items-center justify-content-center status-container">
                <span class="txt">Connection status:  </span><span id="connection_status" class="status">-,-</span>
                <span class="txt">Port: </span>
                <label for="port_select"></label>
                <select class="text" id="port_select"></select>
                <span class="txt">Reading status: </span><span id="dot" class="fas fa-wifi status"></span>
                <span class="txt">Number of sensors: </span>

                <div class="input-group" style="width:150px;">
                    <div class="input-group-prepend">
                        <button class="btn btn-outline-secondary" type="button" id="button-minus">-</button>
                    </div>
                    <label for="input-number"></label><input type="text" class="form-control text-center" value="24" id="input-number">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="button" id="button-plus">+</button>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="mainContainer"></div>
        <div class="container-sm mt-2 text-center">
            <div  style="text-align: center; margin-bottom: 50px;">
                <button class="btns" style="height:30px; background-color: #ff5c20ff" onclick="readMemory()" type="button">READ</button>
            </div>
            <div id="memoryData">
            </div>
        </div>
        <div class="footer">
            <div  style="text-align: center; margin-bottom: 50px;">
                <button class="btns" style="height:30px; background-color: #ff5c20ff" onclick="refreshPage()" type="button">REFRESH</button>
            </div>
        </div>
    </body>
</html>
