h2{
  color: #004181;
}
th{
  color: #004181;
}
table{
  border-color: #004181;
}
td:nth-child(1), td:nth-child(2), td:nth-child(3), td:nth-child(4), td:nth-child(5){
  border-right: 1px solid #004181;
  color: #004181;
  font-size: 16px;
}
td:nth-child(5), td:nth-child(6){
  width: 10px;
}
span{
  color: #004181;
}
#input-number{
  color: #004181;
}
.error-cell {
  background-color: #FF5C20;
  color: white;

}
.warning-cell {
  background-color: yellow;
  color: white;
}
