#header {
  padding: 15px 0;
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
}
#header.header-scrolled, #header.header-inner-pages {
  background: var(--primary-color)
}
#header .logo img {
  max-height: 100px;
}
.container-sm {
  display: flex;
  flex-direction: column;
  width: 35%;
}
span {
  font-weight: bold;
  text-align: left;
  color: var(--neutral-light)
}
.select-container {
  display: flex;
  align-items: center;
}

.select-container select {
  margin-left: 10px;
  flex-grow: 1;
}
h1 {
  font-size: 32px;
  color: var(--neutral-light)
}
@-webkit-keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
@keyframes tracking-in-expand {
  0% {
    letter-spacing: -0.5em;
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    opacity: 1;
  }
}
.tracking-in-expand {
  -webkit-animation: tracking-in-expand 1.5 cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 1.5s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}