<section id="hero" class="d-flex align-items-center">
  <div class="container mt-5">
    <ul class="nav nav-tabs" >
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/overview" routerLinkActive="active"><i class="fas fa-home"></i> Overview</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/log" routerLinkActive="active"><i class="fas fa-file-alt"></i> Log</a>
      </li>
      <li class="nav-item" role="presentation">
        <a class="nav-link" routerLink="/tests" routerLinkActive="active"><i class="fas fa-vial"></i> Tests</a>
      </li>
    </ul>
  </div>
</section>
