<div class="modal-header">
  <h5 class="modal-title">Edit form</h5>
  <button type="button" class="btn-close" (click)="tableService.closeModal()" aria-label="Close" ></button>
</div>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label class="form-label">Team Number</label>
      <input type="number" class="form-control" [(ngModel)]="teamNumber" name="teamNumber" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Country</label>
      <input type="text" class="form-control"  [(ngModel)]="country" name="country" required>
    </div>
    <div class="mb-3">
      <label class="form-label">Team Name</label>
      <input type="text" class="form-control" [(ngModel)]="teamName" name="teamName" required>
    </div>
  </form>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" (click)="tableService.closeModal()">Close</button>
  <button type="button" class="btn btn-save" (click)="tableService.saveEditedData(lane, getRowData(), index)">Save</button>
</div>


