<section>
    <div class="container-sm">
        <div class="text-center">
            <button type="button" class="btn btn-lg mt-4 mx-1 fw-bold" (click)="readLogsBefore()">
                <i class="fas fa-fire-alt"></i>
                <span> Read logs before TR</span>
            </button>
            <button type="button" class="btn btn-lg mt-4 mx-1 fw-bold" (click)="readLogsAfter()">
                <i class="fas fa-fire-alt"></i>
                <span> Read logs after TR</span>
            </button>

            <table *ngIf="isTableInfoReady" class="table mt-5 ">
                <thead>
                <tr>
                    <th class="text-center">HW VERSION [-]</th>
                    <th class="text-center">FW VERSION [-]</th>
                    <th class="text-center">RUN TIME [Day]</th>
                    <th class="text-center">BOOT COUNTER [-]</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="text-center">{{tableInfoData.hwVersion}}</td>
                    <td class="text-center">{{tableInfoData.fwVersion}}</td>
                    <td class="text-center">{{tableInfoData.runTime}}</td>
                    <td class="text-center">{{tableInfoData.bootCount}}</td>
                </tr>
                </tbody>
            </table>

            <div *ngIf="isLoading" id="spinner" class="loader-overlay">
                <div  class="loader"></div>
                <div class="text-center">
                    <h3 class="mt-4">Reading logs ...</h3>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <span id="errorMsg">{{this.readingStatus}}</span>
        </div>
        <table *ngIf="isTableReady" class="table mt-5 ">
            <thead>
            <tr>
                <th class="text-center">Row #</th>
                <th class="text-center">HUMIDITY_1 [%]</th>
                <th class="text-center">TEMPERATURE_2 [°C]</th>
                <th class="text-center">POLLUTION_3 [%]</th>
                <th class="text-center">POLLUTION_4 [%]</th>
                <th class="text-center">POLLUTION_5 [%]</th>
                <th class="text-center">POLLUTION_6 [%]</th>
                <th class="text-center">POLLUTION_7 [%]</th>
                <th class="text-center">POLLUTION_8 [%]</th>
                <th class="text-center">POLLUTION_9 [%]</th>
                <th class="text-center">POLLUTION_10 [%]</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let row of tableData; let i = index">
                <td class="text-center">{{i + 1}}</td>
                <td *ngFor="let cell of row" class="text-center">{{cell.value}}</td>
            </tr>
            </tbody>
        </table>
        <canvas id="chartCanvas" width="100%" height="40%"></canvas>
    </div>
</section>
